*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #BAABBD;
    text-align: center;
}
.contenar{
    height: 70vh;
    align-items: center;
    justify-content: center;
     display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center;
}
#name{
    font-size: 20px;
    color: rgb(214, 124, 20);
    
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center;
     display: flex; 
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    font-size: 50px;
    color: blue;
    
}
#reset{
    background: black;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
    width: 92px;
    border: none;
}
#new-btn{
    background: rgb(8, 54, 16);
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
    width: 92px;
    border: none; 
}
.hide{
    display: none;
}
#msg{
    color: chartreuse;
    font-size: 55px;
}

